#top
  form#startChat
    input#username(type='text', placeholder='あんたの名前を知りたいねん')
    input#startButton.btn-large.btn-primary(type='submit') Start!
#main
  #messages_container
    table#messages.table
  form#newMessage
    input#newText(type='text', placeholder='なんか言えや', autocomplete='off')
    input#sendButton.btn.btn-primary.disabled(type='submit')
