body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#messages_container {
  height: 400px;
  overflow: auto;
}

#newText {
  width: 90%;
  float: left;
}
